html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
}

.top {
  position: relative;
}

.top-background {
  background-color: #FE4544;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 340px;
  width: 100vw;
}

.bottom {
  background-color: white;
  height: 65%;
  position: relative;
}

.nav-bar {
  padding: 10px 0 0 0;
}

.back {
  color: white;
  display: inline;
  margin-left: 12px;
}

.back::before {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  content: "";
}

.dex-number {
  color: white;
  display: inline;
  margin-left: calc(50% - 120px);
}

.sprite {
  z-index: 9999;
  position: absolute;
  top: 40px;
  height: 300px;
  width: 300px;
  left: calc(50% - 150px);
}

.pokemon-name {
  text-align: center;
  font-size: 2em;
}

.type-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.type {
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
  color: white;
}

.type:first-child {
  margin-left: 10px;
}

.fire {
  background-color: #FE4544;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
