html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
}

.top {
  position: relative;
}

.top-background {
  background-color: #FE4544;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 340px;
  width: 100vw;
}

.bottom {
  background-color: white;
  height: 65%;
  position: relative;
}

.nav-bar {
  padding: 10px 0 0 0;
}

.back {
  color: white;
  display: inline;
  margin-left: 12px;
}

.back::before {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  content: "";
}

.dex-number {
  color: white;
  display: inline;
  margin-left: calc(50% - 120px);
}

.sprite {
  z-index: 9999;
  position: absolute;
  top: 40px;
  height: 300px;
  width: 300px;
  left: calc(50% - 150px);
}

.pokemon-name {
  text-align: center;
  font-size: 2em;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.type {
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
  color: white;
}

.type:first-child {
  margin-left: 10px;
}

.fire {
  background-color: #FE4544;
}

.info-item {
  margin: 20px 40px 20px 20px;
  text-align: center;
}

.info-item-main-text {
  font-weight: bold;
  font-size: 1.2em;
}

.sub-text {
  color: #DBDBDB;
  font-weight: normal;
  font-size: 1em;
}

.evolution-item {
  margin: 0 5px 0 5px;
  text-align: center;
}

.evolution-item.level {
  margin-top: 45px;
}

.arrow-left {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-width: 3px 3px 0 0;
  border-style: solid;
  margin: 5px;
  transform: rotate(45deg);
}
.arrow-left:after, .arrow-left:before {
  content: "";
  box-sizing: border-box;
}
.arrow-left:before {
  right: 0;
  top: -3px;
  position: absolute;
  height: 3px;
  box-shadow: inset 0 0 0 32px;
  transform: rotate(-45deg);
  width: 23px;
  transform-origin: right top;
}
